:root {
  --main-bg-color: #f3f3f3;
}
body {
  margin: 0;
}
canvas {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
button {
}
input[type=text] {
  width: 30px;
  /* background-color: var(--main-bg-color) */
}
#gui {

  position: absolute;
  z-index:1;
  margin: 10px;
  height: 600px;
  /* overflow-y: auto; */

}
.gui-box {
  margin: 5px;

}
.form-box *{
  padding: 5px;
  margin: 5px;
}
#div-vertex {
  /* TODO: inline-block and auto scroll */
  display: inline;
  overflow-y: auto;
  height: 400px;

}
#div-edge {
  display: inline;
}
