:root {
  --main-bg-color: #f3f3f3;
  font-family: 'Roboto Mono', monospace;
}
/* ::selection { */
  /* background: #4CAF50;
  color: white; */
/* } */
body {
  margin: 0;
}
canvas {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
button {
  font-family: 'Roboto Mono', monospace;
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50; /* Green */
  width: 120px;
  height: 40px;
  margin: 5px;
  font-size: 15px;
  transition-duration: 0.2s;
  margin-bottom: 15px;
}
button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
button.btn-delete {
  width: 30px;
  height: 30px;
  margin-bottom: 0px;
  position: relative;
  top: 2.5px;
  background-color: red;
  color: white;
  border-color: red;
  font-weight: bold;
}
button.btn-delete:hover {
  background-color: white;
  color: red;
  border-color: red;

}

input[type=text] {
  width: 30px;
  /* background-color: var(--main-bg-color) */
  margin-left: 0px;
  border: none;
}
label {
  margin-right: 0px;
}
#gui {
  font-size: 15px;
  position: absolute;
  z-index:1;
  margin: 10px;
  height: 600px;
  margin-left: 50px;
  /* overflow-y: auto; */

}
.gui-box {
  margin: 5px;

}
.form-box *{
  padding: 5px;
  margin: 5px;
}
#div-vertex {
  /* TODO: inline-block and auto scroll */
  display: inline-block;
  overflow-y: auto;
  height: 400px;

}
#div-edge {
  display: block;
  overflow-y: auto;
  height: 400px;

}
label[for=name] {
  color: #4CAF50;
  /* background: white; */
  margin: 0px;
}
canvas {
  /* z-index: 1000 */
}
